body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #111;
}

#topbar{
    background-color: #333;
    width: 100%;
    margin: auto;
    text-align: center;
    color: white;
    padding: 2px;
    
}

header{
    margin: auto;
    width: 80%;
    

}

#header{
    text-align: center;
    display: inline-block;
}

.imgheader{
    max-width: 20px;
}

#content{
    width: 80%;
    margin: auto;
    
}

#conteudo{
    width: 60%;
    margin: auto;
    
}

#divimgmoeda{
    margin: auto;
    width: 60%;
    text-align: center;
}

#imgmoeda{
    display: inline-block;
    max-width: 100%;
    text-align: center;
    background-size: contain;
}

#divimggeladeira{
    margin: auto;
    width: 60%;
}

#imggeladeira{
    margin: auto;
    width: 100%;
}

footer{
    width: 100%;
    background-color: #333;
    padding: 25px;
}

.rodape{
    font-size: 13px;

}

.rodape2{
    font-size: 8px;

}

.laranja{
    color: orange;
    font-weight: bold;
}

#paragrafoquebrado{
    display: inline;
}